body
{
	margin: 0;
	padding: 0;
}

header
{
    text-align: center;
    background-color: crimson;
    padding: 20px;
}

#musNote
{
    height: 30px;
    width: 40px;
}
nav
{
    overflow: hidden;
    background-color: black;
}
nav ul
{
    list-style: none;
    font-weight: bold;
    float: left;
    width: 100%;
}

nav ul li
{
    float: left;
    margin-right: 10px;
}

nav a
{
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

nav a:hover
{
    background-color: crimson;
    color: black;
}

nav ul ul
{
    list-style: none;
    display: none;
}

nav ul li:hover ul
{
    display: inline-block;
}

.wrapper
{
    overflow: hidden;
}

.sliding-background
{
    background: repeat-x;
    background-image: url("./backgroundCollage.jpg");
    height: 200px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide
{
    0%
    {
        transform: translate3d(0, 0, 0);
    }
    100%
    {
        transform: translate3d(-1692px, 0 , 0);
    }
}

body>div
{
    align-content: center;
}
.column
{
    float: left;
    width: 33.33%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
footer
{
    text-align: center;
    background-color: crimson;
    padding: 20px;
}

.guitarImg
{
    float: left;
    height: 25%;
    width: 100%;
}

.guitarFig 
{
    width: 25%;
    float: right;
    border: 1px dotted;
    margin: 10px; 
}

.gittern
{
    width: 50%;
}

.deTorresFig
{
    width: 30%;
}

.acousticFig
{
    width: 60%;
}
.acousticImg
{
    height: 40%;
}

.acousticShapesFig
{
    width: 75%;
    float: none;
}

.guitarFig figcaption 
{
    border: 1px dotted;
    text-align: center;
    background-color: crimson;
}


#electricConstructSchema 
{
    padding: 0px;
    counter-reset: item;
    list-style-position: inside;
}
#electricConstructSchema ol 
{ 
    padding: 0px;
    counter-reset: item;
    list-style-position: inside;
}
#electricConstructSchema li
{ 
    display: block 
}
#electricConstructSchema li:before 
{ 
    content: counters(item, ".") " "; 
    counter-increment: item 
}

.electricBodyImg
{
    height: 50%;
}
.electricBodyFig
{
    width: 35%;
}

.classicalBodyImg
{
    height: 45%;
}
.classicalBodyFig
{
    width: 45%;
}

.button
{
    background-color: crimson;
    border: none;
    padding: 2px 12px;
    text-align: center;
    border-radius: 5px;
}

.button:hover
{
    color: crimson;
    background-color: black;
}

.classicalTuningTable
{
    background-color: crimson;
}

.classicalTuningTable tr, .classicalTuningTable th, .classicalTuningTable td
{
    border: 1px solid;
}

@media screen and (max-width: 800px)
{
    .column
    {
        width: 100%;
    }
}





