.flexContainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.flexContainer>div
{
    height: 18%;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
div>img
{
    height: 100%;
    width: 50%;
}