#didYouKnowFig1, #didYouKnowFig2
{
    width: 300px;
    height: 220px;
    background-color: #bb1133;
    margin: 10%;
}

#reachOutFenderImg, #biggestGuitarImg
{
    width: 270px;
    height: 180px;
    margin: 5px;
}